*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.scenes{
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(#111425 , #3751e0);
    background-attachment: fixed;
    overflow: hidden;
}
.moon{
    position: absolute;
    top: 100px;
    left: 400px;
    width: 100px;
    height: 100px;
    background-color: rgb(238, 190, 102);
    border-radius: 50%;
    z-index: 950;
}
.moon::after{
    content: " ";
    position: absolute;
    top: -15px;
    left: 15px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(#111425 , #3751e0);
    background-attachment: fixed;
}
.the-forest{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 950;
    transform: scale(1.2);
}
.scenes i {
    position: absolute;
    background-color: rgb(235, 220, 194);
    border-radius: 50%;
    animation: anime linear infinite;
}
@keyframes anime {
    0%{
        opacity: 0;
        transform: translateY(0);
    }
     10% , 90%{
         opacity: 1;
     }
    100%{
        opacity: 0;
        transform: translateY(-100px);
    }
}