*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.scene{
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(#111425 , #3751e0);
    background-attachment: fixed;
    overflow: hidden;
}
.moon{
    position: absolute;
    top: 100px;
    left: 400px;
    width: 100px;
    height: 100px;
    background-color: rgb(238, 190, 102);
    border-radius: 50%;
    z-index: 950;
}
.moon::after{
    content: " ";
    position: absolute;
    top: -15px;
    left: 15px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(#111425 , #3751e0);
    background-attachment: fixed;
}
.the-forest{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 950;
    transform: scale(1.2);
}
.scene i {
    position: absolute;
    background-color: rgb(248, 224, 159);
    border-radius: 50%;
    animation: Animation linear infinite;
}
@keyframes Animation {
    0%{
        transform: translateY(0px);
        opacity: 0;
    }
    10% , 90% {
        opacity: 1;
    }
    100% {
        transform: translateY(-100px);
        opacity: 0;
    }
}
.meteor{
    position: absolute;
    left: 0;
    width: 150px;
    animation: Meteor 10s infinite;
}
@keyframes Meteor {
    0% {
        transform: translate(0);
    }
    100%{
        transform: translate(1200px , 600px);
    }
}
@media ( max-width: 500px){
    .moon {
        top: 30%;
        left: 50%;
        transform: translate(-50% , -50%);
    }

    
}